* {
  box-sizing: border-box;
}

.main {
  background-color: var(--purple-100);
  height: 100vh;
}

.heading {
  color: var(--purple-500);
  font-size: 4rem;
}

.sub-heading {
  color: var(--purple-300);
  margin-bottom: 3rem;
}

.data-section {
  height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin: 0;
}

.video__input--area {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.video__input {
  height: 3rem;
  font-size: 1rem;
  padding: 0 1rem;
  flex-basis: 75%;
  font-family: "Poppins", sans-serif;
  outline: 2px solid var(--purple-500);
  border-radius: 5px;
  border: none;
}

.video__button--summary {
  height: 3rem;
  font-size: 1rem;
  padding: 0 1rem;
  background-color: var(--purple-500);
  color: white;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.video__summary {
  text-align: left;
  max-height: 60vh;
  overflow-y: auto;
  color: var(--purple-700);
}

.video__summary--section {
  background-color: white;
  padding: 1rem 2rem;
}

.icon_button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.icon_button:hover {
  background-color: var(--gray-50);
  border-radius: 4px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.video__summary::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
.video__summary::-webkit-scrollbar-track {
  background: var(--grey-100);
}

/* Handle */
.video__summary::-webkit-scrollbar-thumb {
  background: var(--purple-750);
  border-radius: 10px;
}

.video__details {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 1rem 0.5rem;
}

.video__thumbnail {
  width: 10rem;
  margin-right: 1rem;
}

.video__title {
  text-align: left;
  color: var(--purple-300);
}

.summary__title {
  text-align: left;
  margin-top: 1.5rem;
}

.customise_dropdown {
  display: flex;
  color: var(--purple-700);
  align-items: center;
}

.customise_dropdown--option {
  font-family: "Poppins", sans-serif;
  outline: 1px solid var(--purple-500);
  border: none;
  height: fit-content;
  padding: 0.2rem 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
